.vistors{
    text-align: center;
    padding-top: 100px;
   
}
.clickdesign{
    text-align: center;
    padding-bottom: 10px;
    
    font-weight: bold;
}
.imagedesign{
    padding-right: 100px;
    height: 260px;
    width: 400px;
}